<div class="main-container">
  <h1>My form</h1>
  <form action="/users" method="post" accept-charset="UTF-8">
    <input name="authenticity_token" type="hidden" value="WUaJBOpLhFo3Mt2vlEmPQ93zMv53sDk6WFzZ2YJJQ0M="/>
    <label for="username">Username</label><br>
    <input type="text" name="user[username]"/><br><br>
    <label for="email">Email</label><br>
    <input type="email" name="user[email]" id="email"/><br><br>
    <label for="password">Password</label><br>
    <input type="password" name="user[password]"/><br><br>

    <input type="submit" value="Submit"/>
</div>